{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
<script src="{% static 'js/state.js' %}"></script>

<!--///////////////////////////////////////////////////////////////////////////////////
                                  Sign up Section
///////////////////////////////////////////////////////////////////////////////////-->



<section id="member-profile-section">

        <br>

        <div class="container">
<form action="/register/" method="POST" id="form" enctype="multipart/form-data" onsubmit="return formValidation(this)">
                    {% csrf_token %}


            <div class="row">
                <div class="col-md-6">


<div class="card-profile">
                <label class="f-or">Account</label>

                <div class="form-group">
                    <label class="p-heading" for="designateperson">Designate Person</label>
                    {{register.designatePerson}}
                      <div id="id_designatePersonError"></div>

                    <!--<input type="text" name="designatePerson" class="form-control" id="designateperson" placeholder="Designate Person">-->
                    <div></div>
                    </div>

                <div class="form-group">
                    <label  class="p-heading"  for="exampleInputEmail1">Email address</label>
                    {{register.email}}
                    <!--<input type="email" name="email" class="form-control" id="exampleInputEmail1"  readonly value="{{ request.session.email }} ">-->
                </div>

                <div class="form-group">
                    <label class="p-heading"  for="exampleInputPassword1">Password</label>
                    {{register.password}}
                    <div id="id_passwordError"></div>

           <!--11         <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                </div>
                <div class="form-group">
                    <label class="p-heading"  for="exampleInputPassword1">Profile Type</label>
                    {{register.profileType}}
                    <div id="id_profileTypeError"></div>

  
           <!--11         <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                </div>


</div>

                    <br>

                    <div class="card-profile">
                        <label class="f-or">CONTACT DETAILS</label>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                            <label  class="p-heading"  for="mobile1">Mobile</label>
                             {{register.mobile}}
                             <div id="id_mobileError"></div>

  
                            <!--<input type="number"  name="mobile" class="form-control" id="mobile1" placeholder="Mobile">-->
                               </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                            <label  class="p-heading"  for="pincode1">PINCODE</label>
                                    {{register.pincode}}
                                    <div id="id_pincodeError"></div>

  
                            <!--<input type="number" name="pincode" class="form-control" id="pincode1" placeholder="PINCODE">-->
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label  class="p-heading"  for="address1">  Address </label>
                            {{register.address}}

                            <!--<input type="text" name="address" class="form-control" id="address1" placeholder="Address">-->
                        </div>

                        <div class="row">
                                 <div id="selection">

                            <div class="col-md-6">

                        <div class="form-group">
                            <label class="p-heading"  for="city1"> State</label>
{#                            {{register.city}}#}
{#                             <div id="id_cityError"></div>#}
                             <select id="listBox" onchange='selct_district(this.value)' name="state"></select>

                                        <div id="id_stateError"></div>

                            <!--<input type="text" name="city" class="form-control" id="city1" placeholder="City">-->
                        </div>
                            </div>

                            <div class="col-md-6">

                        <div class="form-group">
                            <label class="p-heading"  for="State1">City</label>
{#                            {{register.state}}#}
                                     <select id='secondlist' name="city"></select>

                                    <div id="id_cityError"></div>
{#      </div>#}
                               <div id="dumdiv">
                               <a id="dum"></a>
                                  </div>



 
                            <!--<input type="text" name="state" class="form-control" id="State1" placeholder="State">-->
                        </div>
                            </div>
                            </div>


                        </div>

                    </div>



                </div>

                <div class="col-md-6">

                <div class="card-profile">

                    <label class="f-or">COMPANY</label>
                <div class="form-group">
                    <label class="p-heading"  for="dippno">DIPP No</label>
                    {{register.dipp}}
                    <!--<input type="number" name="dipp" class="form-control" id="dippno" readonly value="{{ request.session.dipp }}">-->
                </div>


                <div class="form-group">
                    <label class="p-heading"  for="companyname">Company Name</label>
                    {{register.companyName}}
                      <div id="id_companyNameError"></div>

 

                    <!--<input type="text" name="companyName" class="form-control" id="companyname" placeholder="Company Name">-->
                </div>



                <div class="form-group">
                    <label class="p-heading"  for="founder1"> Founder/ Co-Founder</label>
                    {{register.founderCofounder}}
                    <div id="id_founderCofounderError"></div>

 
                    <!--<input type="text" name="founder" class="form-control" id="founder1" placeholder="Founder/ Co-Founder">-->
                </div>

                <div class="form-group">
                    <label class="p-heading"  for="website1"> Website</label>
                    {{register.website}}
                    <div id="id_websiteError"></div>

  
                    <!--<input type="text" name="website" class="form-control" id="website1" placeholder="Website">-->
                </div>


                <div class="form-group">
                    <label class="p-heading"> Industry/ Sector </label>
                    <!--<input type="text" class="form-control" id="sector1" placeholder="Industry/ Sector">-->
                     {{register.industry}}
                     <div id="id_industryError"></div>

  
                    <!--<select class="form-control" id="sector" name="industry">-->
                        <!--<option>1</option>-->
                        <!--<option>2</option>-->
                        <!--<option>3</option>-->
                        <!--<option>4</option>-->
                        <!--<option>5</option>-->
                    <!--</select>-->
                </div>
                  <div class="form-group">
                    <label class="p-heading"> Profile Image </label>
                     {{register.profileImage}}
                      <div id="id_profileImageError"></div>

  

                </div>

                <div class="form-group">
                    <label class="p-heading" >PROVIDE support and help for</label>
                    <!--<input type="text" class="form-control" id="providesupport" placeholder="Email">-->
                    {{register.provideSupport}}
                    <div id="id_provideSupportError"></div>
     
                    <!--<input type="text" id="providesupport" name="providesupport" value="Amsterdam,Washington" data-role="tagsinput" />-->
                    <script>
                        var citynames = new Bloodhound({
                            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                            queryTokenizer: Bloodhound.tokenizers.whitespace,
                            prefetch: {
                                url: 'assets/citynames.json',
                                filter: function(list) {
                                    return $.map(list, function(cityname) {
                                        return { name: cityname }; });
                                }
                            }
                        });
                        citynames.initialize();

                        $('input').tagsinput({
                            typeaheadjs: {
                                name: 'citynames',
                                displayKey: 'name',
                                valueKey: 'name',
                                source: citynames.ttAdapter()
                            }
                        });
                    </script>
                </div>

                    <div class="form-group">
                        <label class="p-heading" >NEED Support And Help For</label>
                        <!--<input type="text" class="form-control" id="providesupport" placeholder="Email">-->
                        {{register.needSupport}}
                        <div id="id_needSupportError"></div>
    

                        <!--<input type="text" id="needsupport" name="needsupport" value="Amsterdam,Washington" data-role="tagsinput" />-->
                        <script>
                            var citynames = new Bloodhound({
                                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                                queryTokenizer: Bloodhound.tokenizers.whitespace,
                                prefetch: {
                                    url: 'assets/citynames.json',
                                    filter: function(list) {
                                        return $.map(list, function(cityname) {
                                            return { name: cityname }; });
                                    }
                                }
                            });
                            citynames.initialize();

                            $('input').tagsinput({
                                typeaheadjs: {
                                    name: 'citynames',
                                    displayKey: 'name',
                                    valueKey: 'name',
                                    source: citynames.ttAdapter()
                                }
                            });
                        </script>
                    </div>


                    </div>


                <br>



                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card-profile">
                        <label class="f-or">SOCIAL CONNECT</label>


                        <div class="form-group">
                            <label class="p-heading"  for="fbid"> Facebook ID</label>
                            {{register.facebook}}
                            <!--<input type="text" name="facebook" class="form-control" id="fbid" placeholder="Email">-->
                        </div>

                        <div class="form-group">
                            <label class="p-heading"  for="lid">Linkedin ID</label>
                            {{register.linkedin}}

                            <!--<input type="text" name="linkedin" class="form-control" id="lid" placeholder="Email">-->
                        </div>

                        <div class="form-group">
                            <label class="p-heading"  for="twitter"> Twitter</label>
                            {{register.twitter}}
                            <!--<input type="text" name="twitter" class="form-control" id="twitter" placeholder="Email">-->
                        </div>

                    </div>
                </div>
            </div>


<br>
<div class="row">
    <div class="col-md-12 text-center">
            <button type="submit" id="btn"  class="btn btn-primary btn-lg bg-or">Submit</button>
</div>
</div>
            </form>
   <div id="demo"> {{result}}</div>
        </div>




</section>
<!-- $( "#target" ).keyup(function() {
  alert( "Handler for .keyup() called." );
});
 -->

<script type="text/javascript">

  
function formValidation(obj){
{#alert(124554);#}
  var id_needSupport      =document.getElementById('id_needSupport').value;
  var id_provideSupport   =document.getElementById('id_provideSupport').value;
  var id_profileImage     =document.getElementById('id_profileImage').value;
  var id_industry         =document.getElementById('id_industry').value;
  var id_website          =document.getElementById('id_website').value;
  var id_founderCofounder =document.getElementById('id_founderCofounder').value;
  var id_state            =document.getElementById('listBox').value;
  var id_city             =document.getElementById('secondlist').value;
  var id_pincode          =document.getElementById('id_pincode').value;
  var id_mobile           =document.getElementById('id_mobile').value;
  // var id_profileType      =document.getElementById('id_profileType').value;
  var id_password         =document.getElementById('id_password').value;
  var id_designatePerson  =document.getElementById('id_designatePerson').value;
  var id_companyName      =document.getElementById('id_companyName').value;
{#   alert(1);#}
    var pin_ex=/^[1-9][0-9]{5}$/;
    var mobile_ex=/^[0]?[789]\d{9}$/;
    var webRex = /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;

if (id_designatePerson !== ""){
    if(id_password !== ""){
     if(id_companyName !== ""){
      if(id_founderCofounder !== ""){
        if(webRex.test(id_website)){
           if(id_profileImage !== ""){
            if(id_provideSupport !== ""){
             if(id_needSupport !== ""){
              if(mobile_ex.test(id_mobile)){
{#                  alert(13245466513216545);#}
                if(pin_ex.test(id_pincode)){
{#                    aler(324654)#}
                 if(id_city !== ""){
                    if(id_state !==""){
                      return true;

                    }else{
                     document.getElementById("id_cityError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                         document.getElementById("id_cityError").remove();

            return false;

                    }


                 }else{

                    document.getElementById("id_cityError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                     document.getElementById("id_pincodeError").remove();

            return false;

                 } 



                }else{
                    document.getElementById("id_pincodeError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                             document.getElementById("id_mobileError").remove();
            return false;

                }

              }else{
                document.getElementById("id_mobileError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                              document.getElementById("id_needSupportError").remove();

            return false;

              }

             }else{
                document.getElementById("id_needSupportError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
              document.getElementById("id_provideSupportError").remove();

            return false;

             }


            }else{
                
                document.getElementById("id_provideSupportError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                                              document.getElementById("id_profileImageError").remove();

            return false;

            }
               
           }else{
               document.getElementById("id_profileImageError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                              document.getElementById("id_websiteError").remove();

            return false;

               

           }
        }else{
          document.getElementById("id_websiteError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
               document.getElementById("id_founderCofounderError").remove();
                         
       return false;


        }



      }else{
        document.getElementById("id_founderCofounderError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                        document.getElementById("id_companyNameError").remove();
                        

 
       return false;


      }


     }else{

        document.getElementById("id_companyNameError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
                        document.getElementById("id_passwordError").remove();


       return false;
}




    }else{
        document.getElementById("id_passwordError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
        document.getElementById("id_designatePersonError").remove();

       return false;

    }      


       }else{
    document.getElementById("id_designatePersonError").innerHTML = "<span style='color:red;'>Please file in this field. </span>";
       return false;
   }



}

</script>

<script type='text/javascript'>
$(document).ready(function(){


 $('input[type="text"]').addClass('form-control');
 $('input[type="password"]').addClass('form-control');
 $('input[type="number"]').addClass('form-control');
 $('input[type="email"]').addClass('form-control');
 //$('input[type="file"]').addClass('form-control');
 $('select').addClass('form-control');


    $("#id_email").attr('readonly','readonly');
    $("#id_dipp").attr('readonly','readonly');


});
</script>



{% endblock %}
